
$primary_color: #444;
$secondary_color: #36648B;
$show_home_image: true;
$home_image: url("../images/back3.jpg");
$background_opacity: 0.8;

@mixin easeOut{
  transition: all 0.5s ease-out;
}

@mixin mediaSm{
  @media screen and (max-width: 500px){
    @content;
  }
}

@mixin mediaMd{
  @media screen and (max-width: 768px){
    @content;
  }
}

@mixin mediaLg{
  @media screen and (min-width: 769px) and (max-width: 1170px){
    @content;
  }
}

@mixin mediaXL{
  @media screen and (min-width: 1171px){
    @content;
  }
}







*{
  box-sizing: border-box;
}

body{
  @if $show-home-image {
   &#bg-img {
     background: $home-image;
     background-attachment: fixed;
     background-size: cover;

     &:after {
       content: '';
       position: absolute;
       top: 0;
       right: 0;
       width: 100%;
       height: 100%;
       z-index: -1;
       background: rgba($primary_color, $background_opacity);
     }
   }
 }
  background: $primary_color;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  line-height: 1.5;
}

h1, h2, h3{
  margin: 0;
  font-weight: 400;

  &.lg-heading{
    font-size: 6rem;
  }

  &.sm-heading{
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary_color, 2), 0.5);
  }
}

a{
  color: #fff;
  text-decoration: none;
}

header{
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary{
  color: $secondary_color

}

main{
  padding: 4rem;
  //height: 100%;
  min-height: calc(100vh - 60px);

  .icons{
    margin-top: 1rem;

    a{
      padding: 0.4rem;
      @include easeOut;

      &:hover{
        color: $secondary_color;
      }
    }
  }

  &#home{
    overflow: hidden;
    h1{
      margin-top: 20vh;
    }
  }
}

//MENU SECTION


.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    @include easeOut;
  }

  &.close{
    transform: rotate(180deg);

    .btn-line{
      &:nth-child(1){
        transform: rotate(45deg) translate(5px, 5px);

      }

      &:nth-child(2){
        opacity: 0;
      }

      &:nth-child(3){
        transform: rotate(-45deg) translate(7px, -6px);
      }



    }
  }
}

.menu{
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;

  &.show{
    visibility: visible;
  }

  &-branding, &-nav{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float:left;
    width: 50%;
    height: 100vh;
    overflow: hidden;

  }

  &-nav{
    margin: 0;
    padding: 0;
    background: rgba(darken($primary_color, 5), 0.9);
    list-style:none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show{
      transform: translate3d(0, 0, 0);
    }
  }

  &-branding{
    background: rgba($primary_color, 0.9);
    transform: translate3d(0, 100%, 0);
    @include easeOut;
    &.show{
      transform: translate3d(0, 0, 0);
    }



    .portrait{
      width: 300px;
      height: 300px;
      background: url("../images/Pro2.PNG");
      background-size:cover;
      border-radius: 50%;
      border: solid 5px $secondary_color;
    }
  }

  .nav-item{
    transform: translate3d(600px, 0, 0);
    @include easeOut;
    &.show{
      transform: translate3d(0, 0, 0);
    }

    &.current > a{
        color: $secondary_color;
    }
  }

  .nav-link{
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    @include easeOut;

    &:hover{
      color: $secondary_color;
    }
  }
}

//delay nav item entry

@for $x from 1 through 5{
  .nav-item:nth-child(#{$x}){
    transition-delay: $x * 0.1s;
  }
}

//SET TEXT COLOR

@function set-text-color($color){
  @if(lightness($color) > 40){
    @return #000;
  }@else{
    @return #fff;
  }
}





.about-info{
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
  'bioimage bio bio'
  'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);


  .bio-image{
    grid-area: bioimage;
    width: 300px;
    height: 300px;

    margin: auto;
    border-radius: 50%;
    border: $secondary_color 5px solid;
  }

  .bio{
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1{
    grid-area: job1;
  }

  .job-2{
    grid-area: job2;
  }

  .job-3{
    grid-area: job3;
  }

  .job{
    background: lighten($primary_color, 5);
    padding: 0.5rem;
    border-bottom: $secondary_color 5px solid;
  }

}


//PROJECTS SECTION

.projects{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  img{
    width: 100%;
    border: 3px #fff solid;

    &:hover{
      opacity: 0.5;
      border-color: $secondary_color;
      @include easeOut;
    }
  }
}

//CONTACT PAGE

.boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  div{
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover{
      padding: 0.5rem 1.5rem;
      background: $secondary_color;
      color: #000;
      span{
        color: $primary_color;
      }
    }
  }
}

//BUTTON
.btn{
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover{
    background: $secondary_color;
    color: #fff;
  }
}

.btn-dark{
  @extend .btn;
  background: darken($primary_color, 50);
  color: #fff;

}

.btn-light{
  @extend .btn;
  background: lighten($primary_color, 50);
  color: #333;
}


#main-footer{
  text-align: center;
  padding: 1rem;
  background: darken($primary_color, 10);
  color: #fff;
  height: 60px;
}







//MOBILE SECTION

@include mediaXL{
  .projects{
    grid-template-columns: repeat(4, 1fr);
  }

}

@include mediaLg{
  .projects{
    grid-template-columns: repeat(3, 1fr);
  }

}

@include mediaMd{
  main{
    align-items: center;
    text-align: center;
    .lg-heading{
      line-height: 1;
      margin-bottom: 1rem;
    }

  }

  ul.menu-nav, div.menu-branding{
    float: none;
    width: 100%;
    min-height: 0;

    &.show{
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav{
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding{
    height: 25vh;
    transform: translate3d(100%, 0, 0);
    .portrait{
      width: 150px;
      height: 150px;
      background-size: cover;
    }

  }


  .about-info{
    grid-template-areas:
    'bioimage'
    'bio'
    'job1'
    'job2'
    'job3';

    grid-template-columns: 1fr;

  }

  .projects{
    grid-template-columns: repeat(2, 1fr);
  }


}

@include mediaSm{
  main#home h1{
    margin-top: 10vh;
  }

  .projects{
    grid-template-columns: 1fr;
  }


}
